.hero-wrapper {
    width: 100%;
    height: 700px;
    position: relative;
    margin-top: 50px;
}

.hero-background {
    width: 100%;
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    background: #000000d7;
}

.hero-background::before, .hero-background::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 223, 0, 0.8);
    filter: blur(60px); 
    transform-origin: center;
    transition: all 0.5s ease-in-out;
}

.hero-background::before {
    width: 300px;
    height: 300px;
    background: rgba(84, 0, 101, 0.8);
    animation: moveBlob 6s infinite ease-in-out;
    z-index: -1;
    top: 30%;
    left: 30%;
}

.hero-background::after {
    width: 400px;
    height: 400px;
    background: rgba(255, 223, 0, 0.5);
    animation: moveBlob2 8s infinite ease-in-out;
    z-index: -1;
    top: 60%;
    left: 65%;
}

@keyframes moveBlob {
    0%, 100% {
        transform: 
            translate(0, 0) 
            scale(1)
            rotate(0deg)
            skew(0deg, 0deg);
    }
    25% {
        transform: 
            translate(50px, -30px) 
            scale(1.1) 
            rotate(15deg)
            skew(5deg, 3deg);
    }
    50% {
        transform: 
            translate(-30px, 20px) 
            scale(1.2) 
            rotate(-10deg)
            skew(-3deg, 5deg);
    }
    75% {
        transform: 
            translate(-50px, -50px) 
            scale(1.1) 
            rotate(20deg)
            skew(7deg, -4deg);
    }
}

@keyframes moveBlob2 {
    0%, 100% {
        transform: 
            translate(0, 0) 
            scale(1)
            rotate(0deg)
            skew(0deg, 0deg);
    }
    25% {
        transform: 
            translate(-40px, 50px) 
            scale(1.2) 
            rotate(-15deg)
            skew(-5deg, 6deg);
    }
    50% {
        transform: 
            translate(30px, -30px) 
            scale(1.1) 
            rotate(10deg)
            skew(4deg, -3deg);
    }
    75% {
        transform: 
            translate(50px, 20px) 
            scale(1.3) 
            rotate(-20deg)
            skew(6deg, 5deg);
    }
}

.hero-container {
    width: 100%;
    height: 700px;
    background: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Middle layer */
}

.hero-app-card {
    background-image: url('../../assets/app.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 900px;  
    height: 500px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 2; 
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center; 
    border-radius: 30px;
    border: 3px solid#ffc30d;
    color: rgb(255, 255, 255);
}

.razor {
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translate(-30%, -40%);
    width: 200px;
    height: 200px;
    perspective: 1000px; /* Adds perspective for 3D rotation */
    z-index: 5;
}

/* Front and back of the coin */
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    backface-visibility: hidden; /* Hides the back when facing away */
    transition: transform 0.6s ease-in-out;
    box-shadow: 5px 0px 30px black;
}

/* Front side */
.front {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQk33R_OGLXDc9sv2kNLN2Gm29mnCiAU4YWrg&s');
}

/* Back side */
.back {
    background-image: url('https://pbs.twimg.com/profile_images/1831944849248985088/iDqvLE7f_400x400.png'); 
    transform: rotateY(180deg); 
}

/* Rotate the coin on hover */
.razor:hover .front {
    transform: rotateY(180deg);
}

.razor:hover .back {
    transform: rotateY(360deg);
}


.wallets{
    background-image: url('../../assets/cripson.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;  
    height: 300px; 
    z-index: 5; 
    position: absolute;
    top: 30%;
    left: 80%;
    transform: translate(-10%, 70%); 
    box-shadow: 5px 0px 30px black;
    border-radius: 15px;
}
.text {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px; 
    color: #fff; 
}

.text p {
    font-size: 20px; 
    margin: 0;
    font-weight: 300; 
}

.text h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 64px; 
    font-weight: 700; 
    margin: 10px 0; 
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px; 
    line-height: 1.2; 
    animation: fade-in 1s ease-in-out; 
}


@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}

@media (max-width: 768px) {
    .hero-wrapper {
        height: 400px;
    }

    .hero-background {
        height: 400px;
    }

    .hero-background::before {
        width: 200px;
        height: 200px;
        top: 20%;
        left: 20%;
    }

    .hero-background::after {
        width: 250px;
        height: 250px;
        top: 50%;
        left: 60%;
    }

    .hero-container {
        height: 400px;
        backdrop-filter: blur(8px);
    }

    .hero-app-card {
        padding: 10px;
        width: 90%;
        height: 250px;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
    }

    .razor {
        width: 80px;
        height: 80px;
        top: 50%;
        left: 10%;
        transform: translate(-10%, -10%);
    }

    .wallets {
        width: 100px;
        height: 100px;
        top: 50%;
        left: 70%;
        transform: translate(-10%, 200%);
        border-radius: 10px;
    }

    .text {
        padding-top: 20px;
    }

    .text h1 {
        font-size: 32px;
        line-height: 1.1;
        letter-spacing: 1px;
    }

    .text p {
        font-size: 16px;
    }

    @keyframes moveBlob {
        0%, 100% {
            transform: 
                translate(0, 0) 
                scale(1)
                rotate(0deg)
                skew(0deg, 0deg);
        }
        25% {
            transform: 
                translate(20px, -10px) 
                scale(1.1) 
                rotate(15deg)
                skew(5deg, 3deg);
        }
        50% {
            transform: 
                translate(-15px, 10px) 
                scale(1.2) 
                rotate(-10deg)
                skew(-3deg, 5deg);
        }
        75% {
            transform: 
                translate(-25px, -25px) 
                scale(1.1) 
                rotate(20deg)
                skew(7deg, -4deg);
        }
    }

    @keyframes moveBlob2 {
        0%, 100% {
            transform: 
                translate(0, 0) 
                scale(1)
                rotate(0deg)
                skew(0deg, 0deg);
        }
        25% {
            transform: 
                translate(-20px, 25px) 
                scale(1.2) 
                rotate(-15deg)
                skew(-5deg, 6deg);
        }
        50% {
            transform: 
                translate(15px, -15px) 
                scale(1.1) 
                rotate(10deg)
                skew(4deg, -3deg);
        }
        75% {
            transform: 
                translate(25px, 10px) 
                scale(1.3) 
                rotate(-20deg)
                skew(6deg, 5deg);
        }
    }
}
