.partnership-container {
    width: 100%;
    height: auto; 
    overflow: hidden;
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.logos-wrapper {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap; 
    justify-content: center; 
    margin-top: 50px; 
}

.logo-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #f5f5f5; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    filter: grayscale(100%);
    opacity: 0.7;
}

.logo-circle:hover {
    filter: grayscale(0%);
    opacity: 1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.logo-image {
    width: 70%;
    height: 70%;
    object-fit: contain;
    border-radius: 50%;
}


@media (max-width: 768px) {
    .logo-circle {
        width: 60px;
        height: 60px; 
    }

    .logo-image {
        width: 60%; 
        height: 60%;
    }

    .logos-wrapper {
        gap: 1rem;
        margin-top: 30px; 
    }
}


@media (max-width: 480px) {
    .logo-circle {
        width: 50px;
        height: 50px; 
    }

    .logo-image {
        width: 50%;
        height: 50%;
    }

    .logos-wrapper {
        gap: 0.5rem; 
        margin-top: 20px;
    }
}
